/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Jan, 2019, 2:53:35 PM
    Author     : Sanya Negi
*/

#banner_image{
     padding-top: 85px; 
     padding-bottom: 55px; 
     text-align: center; 
     color: #f8f8f8;
     background: url("img/intro-bg_1.jpg") no-repeat center center; 
     background-size: cover; 
}

#banner_content{ position: relative;
                 padding-top: 5%;
                 padding-bottom: 6%; 
                 margin-top: 15%;
                 margin-bottom: 15%;     
                 background-color: rgba(0, 0, 0, 0.7); 
                 max-width: 660px; 
                 
}

footer{
       padding: 25px 0; 
       background-color: #101010; 
       color:#9d9d9d;
       position:fixed;
       bottom: 0;
       width: 100%;
       margin-top: 50px;
       text-align: center;
 
}

.row text-center {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
  margin-top: 20px;
}

th{
    width:150px;

    
}
td {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #D3D3D3;
}

tr{
     padding-bottom: 30px;
}

.row{margin-top: 100px;
        margin-bottom: 50px;}

img{width:300px;
            height:300px;}

